main{
    width: 30%;
    max-width: 1000px;
    margin: auto;
    padding: 2.5%;
    justify-content: center;
    background-color: rgb(137, 135, 135);
    border: 3px outset rgb(38, 142, 6);
    border-radius: 10px;
}

body{
    background-color: rgb(35, 35, 35);
    text-align: center;
}

:root{
    --meret: 3; /* CSS változó */
}

header{
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;
}

.jatekter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);     
}

.jatekter div{
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid black;
    background-color: rgb(1, 96, 1);
    margin: 10px;   
}

.felkapcs{
    background-color: rgb(222, 222, 0) !important;
}

.gombok{
    border-radius: 100%;
    padding: 40px;
    border: 1px solid black;
    margin: 20px;
}

h1, p {
    text-align: center;
}

#ujJatekGomb{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    padding: 5px 10px;
    border: 2px rgb(59, 59, 59) inset;
    border-radius: 5px;
}


@media screen and (max-width: 1000px) {
    main{
        width: 50%;
    }
  }


@media screen and (max-width: 600px) {
    main{
        width: 85%;
    }
  }